@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.custom--profile-tabs {
  max-width: fit-content;
  padding: 0;
  color: white !important; /* Always white text */
}

.custom-profile-tabs:hover {
  color: red !important; /* Red on hover */
}

.custom-profile-tabs-content[data-selected='true'] {
  font-weight: bold; /* Bolder for selected tab */
}

.presentation-scroll {
  position: relative;
  text-align: center;

  bottom: -100%;
  transform-origin: 50% 100%;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(200%) scale(1);
  }
  50% {
    transform: translateY(100) scale(0.7);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0) scale(0.5);
    opacity: 0.1;
  }
}

.black-intro {
  overflow: hidden;
}

.slide-left {
  animation: slideLeft 1s ease-in-out forwards;
}

.hide {
  animation: hide 1s ease-in-out forwards;
  animation-delay: 2s;
  overflow: hidden;
}

.slide-right {
  animation: slideRight 1s ease-in-out forwards;
}

.slide-down {
  transform: translateY(-100%);
  animation: slideDown 1.3s ease-in-out forwards;
  /* animation-delay: 0.7s; */
}

.slide-down-intro {
  animation: slideDownIntro 1.3s ease-in-out forwards;
  animation-delay: 0.7s;
  z-index: 999;
}

.slide-up-intro {
  animation: slideUpIntro 1.3s ease-in-out forwards;
  animation-delay: 0.7s;
  z-index: 999;
}

.slide-right-circle {
  animation: slideRightCircle 1s ease-in-out forwards;
}

.title {
  z-index: 990;
  color: #e3fff4;
  cursor: pointer;
}

.w-50 {
  width: 50%;
}
.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  /* position: absolute; */
  width: 350px;
  height: 350px;
  border-radius: 50%;
  z-index: 200;
  cursor: pointer;
  background: linear-gradient(#2ba5a390, #e3fff490, #2a747690);
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#2ba5a390, #e3fff490, #2a747690);
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #246567;
  border: solid #feecfe 5px;
  border-radius: 50%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  background: transparent;
  width: auto;
  /* height: 6rem; */
  overflow: hidden;
}

.profile-page {
}

.bi.nav-icons {
  font-size: 20px !important;
  margin: 0 10px;
}

.games-dropdown {
  cursor: pointer;
}

.cursor {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
}

.cl-userButtonPopoverCard .cl-card .cl-userButton-popover {
  cursor: pointer;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-row {
  display: flex;
}
.square {
  color: rgb(0, 221, 255);
  border: 1px dotted #ffffff;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}

.boards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.board-style {
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

@keyframes hide {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(-200%);
    opacity: 0;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0.5;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0.5;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-800%);
    opacity: 0;
  }
  to {
    transform: translateY(-100%);
    /* opacity: 0.5; */
  }
}

@keyframes showPresentation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes slideDownIntro {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(500%);
    /* opacity: 0.5; */
  }
}

@keyframes slideUpIntro {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-500%);
    /* opacity: 0.5; */
  }
}

@keyframes slideRightCircle {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(50%);
    opacity: 0;
    pointer-events: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #143738;
}

::-webkit-scrollbar-thumb {
  background: #2a7476;
}

::-webkit-scrollbar-thumb:hover {
  background: #feecfe;
}
