@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  min-height: 100vh;
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

#leftIntro,
#rightIntro {
  /* z-index: 150; */
}

.slide-left {
  animation: slideLeft 1s ease-in-out forwards;
}

.slide-right {
  animation: slideRight 1s ease-in-out forwards;
}

.slide-right-circle {
  animation: slideRightCircle 1s ease-in-out forwards;
}

.title {
  z-index: 990;
  color: 000;
  cursor: pointer;
}

.w-50 {
  width: 50%;
}
.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  /* position: absolute; */
  width: 350px;
  height: 350px;
  border-radius: 50%;
  z-index: 200;
  cursor: pointer;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  animation: animate 1.2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#84cdfa, #fdd5f9, #1f5759);
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: ;
  border: solid white 10px;
  border-radius: 50%;
}

.navbar-logo {
  width: 200px;
}

.profile-page {
  max-height: 100vh;
}

.bi.nav-icons {
  font-size: 20px !important;
  margin: 0 10px;
}

.games-dropdown {
  cursor: pointer;
}

.cursor {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
}

.cl-userButtonPopoverCard .cl-card .cl-userButton-popover {
  cursor: pointer;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-row {
  display: flex;
}
.square {
  color: rgb(0, 221, 255);
  border: 1px dotted #ffffff;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}

.boards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.board-style {
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0.5;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0.5;
  }
}

@keyframes slideRightCircle {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(50%);
    opacity: 0;
    pointer-events: none;
  }
}
