@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  height: 100vh;
}

.bi.nav-icons {
  font-size: 20px !important;
}

.games-dropdown {
  cursor: pointer;
}

.cursor {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
}

.cl-userButtonPopoverCard .cl-card .cl-userButton-popover {
  cursor: pointer;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-row {
  display: flex;
}
.square {
  color: #ff233f;
  border: 2px solid #ff233f;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}

.boards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.board-style {
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
